@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Space+Grotesk&display=swap');

*{
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    font-family: 'Space Grotesk';
}
--root{
    --bleu: #D9F1FC;
    --bleu : #18A6B7;
    --orange : #FF8500;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 2rem 18rem;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

nav{
    display: inline-flex;
    gap: 2rem;
}

nav a{
    color: black;
    font-size: 1.5rem;
    font-weight: 800;
}

nav .menu{
    position: relative;
    padding: 1rem 2rem;
}

.menu a:first-child{
    padding: 0 2rem;
}


.hover_menu{
    display: none;
    flex-direction: column;
    gap: .5rem;
    padding: 2rem;
    border: 2px solid #6e6e6ecc;
    background-color: white;
    position: absolute;
    z-index: 2;
    
}
nav div div a{
    font-size: 1.2rem;
    color: #6e6e6e;
}
.hover_menu a:hover{
    color: black;
}

.menu:hover .hover_menu{
    display: flex;
    transform: .8s;
}
nav i{
    font-size: .8rem;
    color: rgb(255, 166, 0);
}

.menu:hover i{
    transform: rotate(90deg);
    transition: .5s;
}
#logo img{
    width: 9rem;
    height: 3rem;
}



/* code ajoute */

.container {
    /* display: inline-block; */
    display: none;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    transition: 0.5s;
  }
  
  .change .bar1 {
    transform: translate(0, 9px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -9px) rotate(45deg);
}

/* fin */


.home{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    

}


.safety{
    padding-left: 10rem;
    padding-top: 10rem;
}

.safety span{
    color: #18A6B7;
    font-weight: 700;
    font-size: 1.3rem;
}

.safety h1{
    font-size: 5rem;
    padding-left: 3rem;
}

.safety p{
    padding-left: 3rem;
    padding-top: 1rem;
    padding-bottom: 4rem;
    color: #FF8500;
    font-weight: 600;
    font-size: 1.3rem;
}


.safety button{
    margin-left: 3rem;
    padding: 1.3rem 1.8rem;
    background-color: #D9F1FC;
    font-weight: 600;
    font-size: 1.3rem;
    box-shadow: 2px 2px 2px black;
}

.safety button:hover{
    color: white;
    background-color: #FF8500;
    transition: .8s;
}
.home img{
    width: 100%;
    max-width: 768px;
}



.about{
    display: flex;
    justify-content: center;
    gap: 7rem;
    background-color: #eaeef0;
    padding: 5rem 0;
}


.about div img{
    height: 3rem;
}

.about div div h2{
    padding: .8rem 0;
}

.about div div p{
    color: rgb(90, 88, 88);
}


.cellphone .part1{
    display: flex;
    justify-content: center;
    gap: 20rem;
    padding-top: 10rem;
}


.part1 div h3{
    color: #18A6B7;
}

.part1 div p{
    font-size: 3.3rem;
    font-weight: 600;
    padding-top: 1.5rem;
    padding-bottom: 4rem;
}



.smile{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 500;
    font-size: 1.3rem;
}

.button{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-top: 4rem;
}
.button button{
    padding: 1.3rem 1.8rem;
    margin-right: 2rem;
    background-color: #D9F1FC;
    font-weight: 600;
    font-size: 1.3rem;
    box-shadow: 2px 2px 2px black;
}

.button button:hover{
    color: white;
    background-color: #FF8500;
    transition: .5s;
}

.button img{
    width: 2rem;
    transform: rotate(65deg);
}


.button span{
    font-family: 'Dancing Script';
    font-size: 1.5rem;
    font-style: italic;
}
.smile span:last-child{
    color: rgb(110, 105, 105);
    font-weight: 700;
}


#phone{
    height: 38rem;
}


#man{
    height: 4.5rem;
    width: 4rem;
    border-radius: 10rem;
}



.cellphone .titre{
    color: #18A6B7;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.cellphone .work{
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    padding-bottom: 4rem;
}

.work span{
    color: #FF8500;
}



.cellphone .part2{
    display: grid;
    grid-template-columns: repeat(3, 340px);
    place-content: center;
    place-items: center;
    gap: 2rem;

}


.part2 div{
    text-align: center;
    position: relative;
}

.part2 div::before {
    content: '';
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0rem;
    top: 2.5rem;
}

.part2 div:first-child::before{
    transform: translateX(60%);
}


.part2 div:nth-child(2)::before{
    transform: translateX(60%);
    top: 1rem;
}


.part2 div:nth-child(3)::before{
    display: none;
}
.part2 div span{
    display: inline-block;
    display: grid;
    place-content: center;
    z-index: 2;
    margin: auto;
    background-color: white;
    height: 70px;
    width: 70px;
    color: gray;
    border: 2px solid gray;
    border-radius: 50%;
}


.part2 div h3{
    font-size: 1.5rem;
    margin-top: .9rem;
    padding-bottom: 1rem;
}

.part2 div p{
    color: rgb(85, 80, 80);
    font-size: 1.2rem;
}
.build{
    display: flex;
    justify-content: center;
    gap: 8rem;
    margin-top: 5rem;
    padding-top: 3rem;
    background-color: #ddedf5;
    
}
.text{
    padding-left: 25rem;
    padding-top: 10rem;
}
.text h1{
    font-size: 3.5rem;
}


.text p{
    color: rgb(107, 104, 104);
    font-size: 1.2rem;
    padding-top: 3rem;
    padding-bottom: 5rem;
    
}

.contactUs{

}

.contactUs button{
    display: inline-flex;
    align-items: center;
    gap: .8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: .6rem;
    margin-right: 1rem;
    background-color: black;
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    box-shadow: 2px 2px 2px black;
}

.contactUs button:hover{
    background-color: white;
    color: black;
}


.contactUs span{
    font-family: 'Dancing Script';
    font-size: 1.2rem;
    font-style: italic;
}
.contactUs button img{
    width: 1.5rem;
    transform: rotate(55deg);
}
.build .images{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}
.build .images img:first-child{
    width: 75%;
    height: 60%;
    padding-left: 3rem;
}

.build .images img:last-child{
    width: 80%;
    height: 60%;
    
}



.schedule{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 5rem 0;
}


.schedule h3{
    color: #18A6B7;
    font-size: 1.8rem;
}

.schedule p{
    font-size: 3.5rem;
    font-weight: 600;
    color: white;
}

.schedule button{
    padding: 1.2rem 1.5rem;
    margin-top: 2rem;
    background-color: #FF8500;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;

}

.schedule button:hover{
    background-color: #18A6B7;
    color: white;
}


footer{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 3rem 0;
    background-color: rgb(29, 21, 23);
}


.links{
    display: flex;
    gap: 4rem;
}


.un img{
    height: 3.5rem;
}


.un p{
    color: white;
    font-size: 1.3rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

}

.un button{
    padding: 1.2rem 1.5rem;
    background-color: #FF8500;
    color: black;
    font-weight: 600;
    font-size: 1.3rem;
}

.un button:hover{
    color: white;
    background-color: black;
    cursor: pointer;
}

.deux{
    display: flex;
    flex-direction: column;
    gap: .3rem;
}


footer h3{
    color: #18A6B7;
    padding-bottom: 1.2rem;
    padding-top: .8rem;
    font-size: 1.3rem;
}
.deux a{
    color: rgba(255, 255, 255, 0.603);
    font-size: 1.2rem;
}

.deux a:hover{
    color: white;
}

.trois{
    display: flex;
    flex-direction: column;
}
.trois p{
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    padding-bottom: 1rem;
    letter-spacing: .02rem;
}

.trois a{
    text-decoration: underline;
    color: gray;
    font-size: 1.1rem;
    padding-bottom: .8rem;

}


.trois a:hover{
    color: white;
}

.social i{
    color: white;
    padding-right: .5rem;
    font-size: 1.5rem;
}

.social i:hover{
    color: gray;
}



.quatre p{
    padding-left: 7rem;
}
.quatre p img{
    height: 2rem;
    transform: rotate(95deg);
}


.quatre p span{
    color: white;
    font-size: 1.5rem;
    font-family: 'Dancing Script';
    font-style: italic;
    padding-left: .8rem;
}
.copyright{
    color: white;
    font-size: 1.2rem;
    margin-top: 4rem;
}


.copyright span span{
    color: #FF8500;
    font-size: 2.5rem;
}

.copyright a{
    color: gray;
    text-decoration: underline;
}


@media screen and (max-width:991px) {
    /* body{
        font-size: 80%;
        
    } */
    header{
        padding: 1rem;
    }
    
    nav{
        display: none;
        z-index: 2;
        padding: 1rem 0;
        width: 100%;
        background-color: 100%;
    }

    nav a{
        font-size: 1.2rem;
    }
    /* pour pouvoir afficher le menu en cliquant sur le bouton menu bar */

    /* *******************debut************************** */
    nav.change{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 3.3rem;
        /* margin-top: 25.5rem;
         /* height: 100vh;  */
        width: 100%;
        background-color: white;
    }
    nav a.change{
        display: block;
    } 
    .container{
        display: block;
    }
    nav i{
        position: absolute;
        right: 3rem;
    }
    .hover_menu{
        width: 100%;
        border: 1px solid gray;
    }

    /* *************************fin**************************** */
    .home{
        flex-direction: column;
    }

    .safety{
        padding-left: 1rem;
    }
    .about{
        flex-direction: column;
        gap: 2rem;
        padding-left: 1rem;
    }

    .cellphone .part1{
        flex-direction: column;
        padding-left: 1rem;
    }
    .button img{
        display: none;

    }

    .button span{
        display: none;
    }
    .cellphone .part2{
        grid-template-columns: 1fr;
    }

    .part2 div::before{
        display: none;
    }

    .build{
        flex-direction: column;
    }

    .text{
        padding-left: 1rem;
        padding-top: 3rem;
    }
    .contactUs span{
        display: none;
    }

    .schedule{
        padding-left: 1rem;
    }
    footer{
        padding-left: 1rem;
    }
    .links{
        flex-direction: column;
    }

    .copyright{
        display: flex;
        flex-direction: column;
    }
    .copyright span span{
        display: none;
    }

    .quatre p{
        display: none;
    }
}